.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }

img {
    max-width: 75%;
    margin: auto;
}