<mat-toolbar color="primary">
    <mat-toolbar-row> <!--fila-->
        <div class="row between-xs middle-xs header-row">
            <nav>
                <!--href recarga toda la page, entonces utilizamos routerLink-->
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
            </nav>
            <a class="cart" routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn"> 
            <mat-icon>shopping_cart</mat-icon>
            Carrito
            </a>
            <a class="identity" mat-button routerLink="/auth/login"><mat-icon>perm_identity</mat-icon>
            Admin
            </a>
        </div>        
    </mat-toolbar-row>
</mat-toolbar>


