:host {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}

form {
    margin: 20px;
}

.mat-form-field {
    width: -webkit-fill-available;
}

.mat-card-header {
    display: block;
}

.form-container {
    width: max-content;
}

.message {
    display: inline-table;
	background: black;
    width: 75%;
    height: 20px;
    margin-top: 2%;
}

.text {
    color: white;
    font-size: 15px;
}   

