<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Sus Productos</ng-template>
        <div *ngIf="(products$ | async | countProduct) as products"> <!--con async le decimos que ejecutamos el observable una vez que se cumpla con la suscripcion, ademas, Subscribete una vez y creo una variable products para reutilizar en el template, con esto me subscribo una vez y bajo el consumo de memoria-->
            <p *ngIf="products.length === 0">No hay productos en el carrito</p>
            <div class="row" *ngFor="let product of products">
                <div class="col-xs-12 col-ms-2 col-md-2">
                    <div class="box">
                        {{ product.title }}
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-ms-2 col-md-2">
                    <div class="box">
                        <p>Cantidad</p>
                        {{ product.cantidad }}
                    </div>
                </div> 
                <div class="col-xs-12 col-ms-2 col-md-2">
                    <div class="box">
                        <p>Precio</p>
                        {{ product.price | currency}}
                    </div>
                </div> 
            </div>
        <button mat-raised-button color="primary" matStepperNext [disabled]="products.length === 0">Siguiente</button>
        </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Datos Personales</ng-template>
            <app-customer-data></app-customer-data>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pago</ng-template>
            <h1>pago</h1>
        </mat-step>
</mat-horizontal-stepper>